#!/usr/bin/env bash

# ---------------------------------------------------------------------------
# This file is part of ARK Moses.
#
# (c) Brian Faust <hello@brianfaust.me>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
# ---------------------------------------------------------------------------

# -------------------------
# Snapshot
# -------------------------

snapshot_dir=/var/www/html
snapshot_amount=10
snapshot_interval=900

# -------------------------
# Snapshot - Remote
# -------------------------

snapshot_remote=false
snapshot_remote_user=''
snapshot_remote_host=''
snapshot_remote_port=22
snapshot_remote_identity_file=''
